<br>
<br>
<br>

<p id="notice"><%= notice %></p>
<h1>
  
  <%= @diagnostic.name %>
</h1>
<p>
  <strong>Abbreviation:</strong>
  <%= @diagnostic.abbreviation %>
</p>

<br>
<br>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<a href="javascript:history.go(-1)">Back</a>
