<br>
<br>
<h1>Physicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Hired</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.name %></td>
        <td><%= physician.email %></td>
        <td><%= physician.phone %></td>
        <td><%= physician.hired %></td>
        <td><%= link_to 'Show', physician %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


