<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<h1>
  <%= @physician.name %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @physician.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @physician.phone %>
</p>

<p>
  <strong>Hired:</strong>
  <%= @physician.hired %>
</p>

<br>
<h1>Your Appointments</h1>

<h3>In-Progress</h3>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>App time</th>
      <th>Notes</th>
      <th>Diagnostic ID</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.app_time.in_time_zone("Central Time (US & Canada)").strftime("%H:%M") %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.diagnostic.abbreviation %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<h3>Upcoming</h3>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>App time</th>
      <th>Description</th>
      
    </tr>
  </thead>

  <tbody>
    <% @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.app_time.in_time_zone("Central Time (US & Canada)").strftime("%H:%M") %></td>
        <td><%= appointment.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

