<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<H1>

  <%= @patient.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @patient.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>
<%= link_to 'Edit Patient', edit_patient_path(@patient) %> ||
<a href="javascript:history.go(-1)">Back</a>
<br>

<br>
<br>
<h1>Your Appointments</h1>
<%= link_to 'New Appointment', new_appointment_path %>
<br>
<br>
<h2>Today</h2>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>App date</th>
      <th>App time</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.appointments.each do |appointment| %>
	<% if (appointment.app_date == Date.today)%>
	<% if (((appointment.app_time - Time.now) * 24) <=8)%>
      <tr>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.app_date %></td>
        <td><%= appointment.app_time.strftime("%H:%M") %></td>
        <td><%= appointment.description %></td>
      </tr>
	  <% else %>
      <tr>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.app_date %></td>
        <td><%= appointment.app_time.in_time_zone("Central Time (US & Canada)").strftime("%H:%M") %></td>
        <td><%= appointment.description %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	  
    <% end %>
	<% end %>
	<% end %>
  </tbody>
</table>

<br>
<h2>Upcoming</h2>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>App date</th>
      <th>App time</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.appointments.each do |appointment| %>
	<% if (appointment.app_date != Date.today) %>
      <tr>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.app_date %></td>
        <td><%= appointment.app_time.strftime("%H:%M") %></td>
        <td><%= appointment.description %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	  <% else %>
    <% end %>
	<% end %>
  </tbody>
</table>

<br>
