<br>
<br>
<br>
<h1>Office Worker</h1>
<h2>Today's In-Progress Appointments</h2>

<table>
  <thead>
    <tr>
      <th>Physician</th>
	  <th>Patient</th>
      <th>App time</th>
      <th>Notes</th>
      <th>Diagnostic</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
	<% if (appointment.app_date == Date.today) && (appointment.app_time < Time.now)%>
	
      <tr>
        <td><%= appointment.physician.name %></td>
		<td><%= appointment.patient.name %></td>
        <td><%= appointment.app_time.in_time_zone("Central Time (US & Canada)").strftime("%H:%M") %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.diagnostic.abbreviation %></td>
        <td><%= appointment.cost %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      </tr>
	  <% else %>
      <% end %>
	<% end %>
  </tbody>
</table>

<br>
<h2>Today's Upcoming Appointments</h2>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>App date</th>
      <th>App time</th>
      <th>Description</th>
    </tr>
  </thead>

 <tbody>
   <% @appointments.each do |appointment| %>
<% if (appointment.app_date == Date.today) && (appointment.app_time > Time.now)%>

     <tr>
       <td><%= appointment.physician.name %></td>
	<td><%= appointment.patient.name %></td>
       <td><%= appointment.app_time.in_time_zone("Central Time (US & Canada)").strftime("%H:%M") %></td>
       <td><%= appointment.description %></td>
	
     </tr>
  <% else %>
     <% end %>
<% end %>
 </tbody>
</table>

<br>



