<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Select a Patient<br>
    <%= f.collection_select(:patient_id, Patient.all, :id, :name) %>
  </div>
  <br>
  <div class="field">
    Select A Physician<br>
   <%= f.collection_select(:physician_id, Physician.all, :id, :name) %>
   
  </div>
  <br>
  <div class="field">
   Choose A Date<br>
    <%= f.text_field :app_date %>
  </div>
  <br>
  <div class="field">
    Select A Time<br>
    <%= f.time_select :app_time, {:minute_step => 30, :ampm => true, start_hour: 8, end_hour: 16} %>
  </div>
  <br>
  <div class="field">
    Enter A Brief Description<br>
    <%= f.text_field :description %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
  <a href="javascript:history.go(-1)">Back</a>
  <br>
  <br>
  <br>
  <h2><strong>Office Use Only</strong></h2>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <br>
  <div class="field">
    <%= f.label :diagnostic_id %><br>
    <%= f.collection_select(:diagnostic_id, Diagnostic.all, :id, :name) %>
  </div>
  <br>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <br>
  <br>
  
<% end %>
