<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Physician</th>
      <th>App date</th>
      <th>App time</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Diagnostic</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.app_date %></td>
        <td><%= appointment.app_time %></td>
        <td><%= appointment.description %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.diagnostic.abbreviation %></td>
        <td><%= appointment.cost %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
