<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.name %>
</p>

<p>
  <strong>App date:</strong>
  <%= @appointment.app_date %>
</p>

<p>
  <strong>App time:</strong>
  <%= @appointment.app_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>



<%= link_to 'Edit', edit_appointment_path(@appointment) %> 
<br>
<br>
<h2>Office Use Only</h2>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic.abbreviation %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @appointment.cost %>
</p>