<!DOCTYPE html>

<html>
<head>
  <title>James' Ind. Project'</title>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tags %>
  <a href="/">Home</a> | <a href="/patients">Patient</a> | <a href="/physicians">Physician</a> | <a href="/office_worker/index">Office Worker</a> | <a href="/administrator/index">Administrator</a> | <a href="/diagnostics">Diagnostics</a>
</head>
<body>

<%= yield %>

</body>
</html>
